@model TrainingCenterManagement.Models.KhoaHoc

@{
    ViewBag.Title = "Chi tiết Khóa học";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Chi tiết Khóa học</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Thông tin Khóa học</h4>
            <hr />

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.TenKhoaHoc)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.TenKhoaHoc)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.GiangVien)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.GiangVien)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.HocPhi)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.HocPhi)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.ThoiGianKhaiGiang)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.ThoiGianKhaiGiang)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.SoLuongToiDa)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.SoLuongToiDa)
                </div>
            </div>

            <hr />
            <div class="text-center">
                <p>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaKhoaHoc }, new { @class = "btn btn-warning btn-sm" })
                    <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm">Quay lại danh sách</a>
                </p>
            </div>
        </div>
    </div>
</div>
