@model TrainingCenterManagement.Models.HocVien

@{
    ViewBag.Title = "Chi tiết Học viên";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Chi tiết Học viên</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Thông tin Học viên</h4>
            <hr />

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.HoTen)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.HoTen)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.NgaySinh)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.NgaySinh)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.SoDienThoai)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.SoDienThoai)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.Email)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.TaiKhoan)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.TaiKhoan)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.MatKhau)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.MatKhau)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <strong>@Html.DisplayNameFor(model => model.VaiTro)</strong>
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(model => model.VaiTro)
                </div>
            </div>

            <hr />
            <div class="text-center">
                <p>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaHocVien }, new { @class = "btn btn-warning btn-sm" })
                    <a href="@Url.Action("Index")" class="btn btn-secondary btn-sm">Quay lại danh sách</a>
                </p>
            </div>
        </div>
    </div>
</div>
